* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --font1: 'Cardo', serif;
    --font2: 'Poppins',sans-serif;
    --green: #25D073;
    --bg:#F2F4F1;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.top {
    height: 80vh;
    background-color:#F2F4F1;
    width: 100vw;
    max-height: 1000px;
    display: flex;
    justify-content: center;
}
.top .section {
    height: 100%;
    width: 90vw;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top .section header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.top .section header img {
    height: 80px;
    width: 100px;
}
.top .section header i {
    font-size: 20px;
}
.top .section header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:25px;
}
.top .section header ul li {
    font-family: var(--font2);
}

.top .section .box {
    height:80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top .section .box .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
    gap:20px;
    font-family: var(--font2);
}
.top .section .box .left h1 {
    font-size: 42px;
    font-family: var(--font1);
    font-weight: 400;
}
.top .section .box .left .search {
    height: auto;
    width: auto;
    display: flex;
    background-color: white;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.top .section .box .left .search input {
    height: 40px;
    width: 200px;
    padding-left: 5px;
    font-family: var(--font2);
    border:none;
}
.top .section .box .left .search button {
    height: 40px;
    width: 150px;
    border:none;
    font-family: var(--font2);
    border-radius: 5px;
    background-color: var(--green);
    color: #fff;
}
.top .section .box .right {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
}

.swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    height: 250px;
  }

  .swiper-slide img{
   height: 100%;
   width: 100%;
  }

  .mid {
      height: auto;
      width: 80vw;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      gap:20px;
  }
  .mid h1 {
      font-size: 32px;
      font-family: var(--font1);
      font-weight: 400;
  }
  .mid ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap:20px;
      flex-wrap: wrap;
  }
  .mid ul li {
      height: 450px;
      width: 250px;
      display: flex;
      flex-direction: column;
      gap:8px;
      border:1px solid #E8E8E8;
      border-radius: 10px;
      position: relative;
  }
  .mid ul li font {
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      padding:5px;
      font-family: var(--font2);
      width: 120px;
      text-align: center;
  }
  .mid ul li img {
      height: 70%;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  .mid ul li h3 {
      font-family: var(--font1);
      padding-left:10px;
  }
  .mid ul li p {
      color: var(--green);
      font-family: var(--font2);
      padding-left:10px;
  }
  .mid ul li span {
      font-family: var(--font2);
      padding-left:10px;
  }
  .mid-s {
      height: 250px;
      width: 100vw;
      background-color: var(--bg);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .mid-s .cover {
      height: 100%;
      width: 70vw;
      max-width: 1200px;
      display: flex;
      flex-direction: row;
  }
  .mid-s .cover .left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap:20px;
      width: 50%;
  }
  .mid-s .cover .left h1 {
      font-family: var(--font1);
      font-size: 32px;
  }
  .mid-s .cover .left button {
      height: 45px;
      width: 200px;
      background-color: var(--green);
      color: #fff;
      font-family: var(--font2);
      border:none;
      border-radius: 2px;
  }
  .mid-s .cover .right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
  }
  .mid-s .cover .right img {
      height: 80%;
      width: auto;
  }
  .bfoot {
      height: 450px;
      width: 80vw;
      max-width: 1200px;
      border:1px solid #E8E8E8; 
      border-radius: 20px;
  }
  .bfoot {
      display: flex;
      flex-direction: row;
  }
  .bfoot .left {
      height: 100%;
      width: 50%;
      background-image: url("https://modernmrsdarcy.com/wp-content/uploads/2018/06/book-lake-reading.jpg");
      background-size: cover;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  .bfoot .right {
      height: 100%;
      width: 50%;
      background-color: #F2F4F1;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap:20px;
  } 
  .bfoot .right h1 {
      font-size: 36px;
      font-family: var(--font1);
      font-weight: 400;
  }
  .bfoot .right span {
      height: 1px;
      background-color: #000;
      width: 200px;
  }
  .bfoot .right p {
      font-size: 18px;
      font-family: var(--font2);
  }
  .bfoot .right button {
      height: 40px;
      width: 200px;
      border:none;
      color: #fff;
      background-color: var(--green);
      font-family: var(--font2);
  }
  .annc {
      height: 350px;
      width: 80vw;
      max-width: 1200px;
  }
  .annc .swiper {
    width: 100%;
    height: 100%;
    padding:20px;
  }

  .annc .swiper-slide {
    font-size: 18px;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    padding:10px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
    border-radius: 10px;
    color: #000;
    flex-direction: column;
    gap:30px;
  }
  .annc .swiper-slide .span {
      display: flex;
      gap:20px;
      font-family: var(--font2);
  }
  .annc .swiper-slide .span img {
      height: 65px;
      width: 65px;
      border-radius: 50%;
  }
  .annc .swiper-slide .span span {
      font-size: 16px;
      font-weight: 400;
  }
  .annc .swiper-slide p {
      font-family: var(--font2);
      font-weight: 400;
      font-size: 14px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  footer {
      display: flex;
      flex-direction: row;
      gap:30px;
      width: 80vw;
      max-width: 1200px;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;
      padding-bottom: 30px;
      flex-wrap: wrap;
  }
  footer div {
      height:auto;
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 400px;
      font-family: var(--font2);
      min-width: 200px;
  }
  footer div:nth-child(1) h2,  footer div:nth-child(1) h3 {
      font-weight: 400;
  }
  footer div ul {
      list-style: none;
  }
  footer div ul li {
      height: 30px;
  }
  .last {
      font-family: var(--font1);
      font-weight: 500;
      font-size: 20px;
      padding-bottom: 20px;
  }
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--green); 
  }
  @media (min-width:250px) and (max-width:950px){
    .top {
        height: auto;
        padding-bottom: 50px;
    }
    .top .section header  {
        width: 90%;
    }
    .top .section {
        width: 100vw;
    }
    .top .section .box {
        flex-direction: column;
        gap: 30px;
    }
    .top .section .box .left, .top .section .box .right {
        width: 100%;
        align-items: center;
    }
    .top .section .box .left .search input {
        width: 40vw;
    }
    .top .section .box .left .search button {
        width: 30vw;
    }
    .top .section header ul {
        display: none;
    }
    .top .section .box .left h1 {
        font-size: 28px;
    }
    .top .section .box .left p {
        font-size: 14px;
    }
    .swiper {
        width: 200px;
        height: 320px;
      }
      .mid-s {
          height: auto;
          padding: 20px;
      }
      .mid-s .cover {
          flex-direction: column;
          width: 100vw;
          justify-content: center;
          align-items: center;
      }
      .mid-s .cover .right img {
          height: 200px;
      }
      .mid-s .cover .left {
          width: 80vw;
          justify-content: center;
          align-items: center;
      }
      .mid-s .cover .left h1 {
          font-size: 24px;
      }
      .mid ul {
          width: 100vw;
      }
      .bfoot {
          flex-direction: column;
          width: 90vw;
      }
      .bfoot .left {
          border-bottom-left-radius:0px ;
          border-top-right-radius: 20px;
          width: 100%; 
      }
      .bfoot .right {
          width: 100%;
          padding-top: 20px;
          border-bottom-left-radius: 20px;
      }
      .annc {
          width: 100vw;
      }
      .bfoot .right h1 {
          font-size: 24px;
      }
      .bfoot .right p {
          font-size: 14px;
      }
  }
